.title{color:#ffffff;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:bold;font-style:normal;text-decoration:none}
.headline{color:#000000;font-family:arial, helvetica, sans-serif;font-size:12pt;font-weight:bold;font-style:normal;text-decoration:none}
.headlineNeg{color:#ffffff;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:bold;font-style:normal;text-decoration:none}
.subHeadline{color:#000000;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:normal;font-style:normal;text-decoration:none}
.bodytext{color:#000000;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:normal;font-style:normal;text-decoration:none}
.warningText{color:#990000;font-family:arial, helvetica, sans-serif;font-size:12pt;font-weight:normal;font-style:normal;text-decoration:none}
.pageTitle{color:#003366;font-family:arial, helvetica, sansserif;font-size:14pt;font-weight:bold;font-style:normal;text-decoration:none}
.formTitle{color:#003366;font-family:arial, helvetica, sansserif;font-size:12pt;font-weight:bold;font-style:normal;text-decoration:none}
.formTitleNeg{color:#ffffff;font-family:arial, helvetica, sansserif;font-size:12pt;font-weight:bold;font-style:normal;text-decoration:none}
.footerText{color:#000000;font-family:arial, helvetica, sansserif;font-size:7pt;font-weight:normal;font-style:normal;text-decoration:none}
.footerLink{color:#0000ff;font-family:arial, helvetica, sansserif;font-size:7pt;font-weight:normal;font-style:normal;text-decoration:underl}
.menuItemText{color:#990000;font-family:alrial, helvetica, sans-serif;font-size:12pt;font-weight:bold;font-style:normal;text-decoration:none}
.menuRadioBtn{vertical-align:text-top;height:24;width:24}
.navDropdownRpt{background-color: #CCCCCC; color:#000000;}
.navDropdownProd{background-color: #ffffff; color:#000000;}
.label{
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-align: left;
}
.labelClean{
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
.labelCenter{
	color:#FFFFFF;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-align: center;
}
.dataClean{
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
}
.dataTotals{
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align: right;
}
.data{
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-align: right;
}
.dataLeft{
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-align: left;
}
.dataCenter{
	color:#000000;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-align: center;
}
.negativeData{color:#990000;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:bold;font-style:normal;text-decoration:none;
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.edit{color:#ffffff;font-family:arial, helvetica, sans-serif;font-size:8pt;font-weight:normal;font-style:normal;text-decoration:underline}
.editDivider{color:#ffffff;font-family:arial, helvetica, sans-serif;font-size:8pt;font-weight:normal;font-style:normal;}
.help{color:#ffffff;font-family:arial, helvetica, sans-serif;font-size:8pt;font-weight:normal;font-style:normal;text-decoration:underline}
.headerColor{background-color:#666666;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:normal;font-style:normal;text-decoration:none}
.bodyColor{background-color:#FFFFFF;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:normal;font-style:normal;text-decoration:none}
.submitLink {color: #0000ff;background-color: transparent;text-decoration: underline;border: none;cursor: pointer;cursor: hand;}
.noborder{background-color:#cccc99; border-style: solid; border-width: 0; padding: 0}
.bgcolor{background-color:#999966}
.trbgcolor{background-color:#cccc99}
.trbgcolorW{background-color:#FFFFFF}
.listHeader{
	background-color:#003366;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	padding: 4;
	color: #FFFFFF;
}
.listOdd{
	background-color:#CCCCCC;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	padding: 4;
}
.listEven{background-color:#FFFFFF;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:normal;font-style:normal;text-decoration:none;
padding: 4;
}
.listHeaderText{
	color:#FFFFFF;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-align: center;
}
.listHeaderTextLeft{
	color:#FFFFFF;
	font-family:arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-align: left;
}
body {
	background: url(../images/GreyGrad.jpg) repeat-x;
	background-color: #FFFFFF;
        margin-left: 0;
        margin-right: 0;

}
.topDiv{
        position: relative;
	background: url(../images/GreyGrad.jpg) repeat-x;
        left: 0;
        top: 0;
        height: auto;
        width: auto;
        clear: both;
}
.bodyDiv{
	position: relative;
	left: 0;
	bottom: 0;
	top: 0;
	background: url(../images/GoldGrad.jpg) repeat-x;
	clear: both;
        height: 70%;
        width: auto;
	border-top-width: thick;
	border-top-style: solid;
	border-top-color: #990000;
	border-bottom-width: thick;
	border-bottom-style: solid;
	border-bottom-color: #990000;
}
.bodyDiv2{
	position: relative;
	left: 0;
	bottom: 0;
	top: 15;
	background: url(../images/GoldGrad.jpg) repeat-x;
	clear: both;
        height: 80%;
        width: auto;
	border-top-width: thick;
	border-top-style: solid;
	border-top-color: #990000;
}
.navButtonsDiv{
        position: relative;
        top: 0;
        height: auto;
        width: 100%;
        text-align: center;
}
.bottomDiv{
	position: relative;
        top: auto;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100;
	border-bottom-width: thick;
	border-bottom-style: solid;
	border-bottom-color: #990000;
}
.footerDiv{
        position: relative;
        top: 10;
        height: auto;
        width: 100%;
        text-align: center;
}
.footerDiv2{
        position: relative;
        top: 0;
        height: auto;
        width: 100%;
        text-align: center;
        border-top-width: thick;
        border-top-style: solid;
        border-top-color: #990000;
}
.displayRow {
	padding: 2;
}
.wizardRow {
	padding: 4;
}
.actionRow {
	background-color: #BFD5EA;
	vertical-align: middle;
}
.backRow {
	background-color: #BFD5EA;
	vertical-align: middle;
}
.displayTable {
	cellpadding: 0;
	cellspacing: 0;
	border: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.module{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	border-top-width: 1px;
	border-top-style: none;
}

.dataGrid{
        cellpadding: 0;
        cellspacing: 0;
        border: 0;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	border-top-width: 1px;
	border-top-style: none;
}


.cdmBody{background-color:#FFFFFF;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:normal;font-style:normal;text-decoration:none}
.header{background-color:#666666;font-family:arial, helvetica, sans-serif;font-size:10pt;font-weight:normal;font-style:normal;text-decoration:none; padding:3}
.appLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
	cursor: hand;
	hover-color: blue;
}

a:hover {color:blue}
A {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
	cursor: hand;
	hover-color: blue;
}


.formTable{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;

}

.formButton{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	border-color: #FFFFFF;
	background:url(../images/GradientBTN.jpg);
	border-width: 2px;
	border-style: outset;
	cursor: hand;
	hover-color: blue;
	height: 22px;

}

.formButtonAdd{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	border-color: #FFFFFF;
        background-color: #0088ff;
	border-width: 2px;
	border-style: outset;
	cursor: hand;
	hover-color: blue;
	height: 22px;

}

.formButtonDelete{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	border-color: #FFFFFF;
        background-color: #ff0000;
	border-width: 2px;
	border-style: outset;
	cursor: hand;
	hover-color: blue;
	height: 22px;

}

.formButtonModify{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	border-color: #FFFFFF;
        background-color: #00dd00;
	border-width: 2px;
	border-style: outset;
	cursor: hand;
	hover-color: blue;
	height: 22px;

}

.formButtonLogout{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	border-color: #FFFFFF;
        background-color: #ffdd00;
	border-width: 2px;
	border-style: outset;
	cursor: hand;
	hover-color: blue;
	height: 22px;

}

.warningHalo{
	border-color: #993333;
	border-width: 2px;
	border-style: solid;
	width: 10px;
}

.actionHalo{
	border-color: #BFD5EA;
	border-width: 2px;
	border-style: solid;
	width: 10px;
}
